/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'theme.scss';

html, body, app-root, mat-sidenav-container, .site {
    margin: 0;
    width: 100%;
    height: 100%;
}

.site {
    display: flex;
    flex-direction: column;
}

main {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.full-width {
    width: 100% !important; // OverlayCotainer add dark theme over writes this, so added !important.
}

.fill-remaining-space {
    flex: 1 1 auto;
}
