<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <mat-card class="card">
    <mat-tab-group [dynamicHeight]="true" [selectedIndex]="selectedTab" (selectChange)="onTabChange($event.index)">
      <mat-tab label="Account info">
        <mat-input-container class="full-width">
          <input matInput placeholder="Email" formControlName="email">
        </mat-input-container>
        <mat-input-container class="full-width">
          <input matInput type="text" placeholder="Name" formControlName="name">
        </mat-input-container>
        <mat-input-container class="full-width">
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-input-container>
        <mat-input-container class="full-width">
          <input matInput type="password" placeholder="Confirm" formControlName="repeat">
        </mat-input-container>
        <app-image-list-select [useSvgIcon]="true" [cols]="6" [title]="'Choose avatar：'" [items]="avatars$ | async" formControlName="avatar">
        </app-image-list-select>
        <div class="full-width action-area">
          <button mat-raised-button type="button" (click)="nextTab()">Next</button>
          <span class="fill-remaining-space"></span>
          <span>
            <span>Have account？
              <a routerLink="/login">Login</a>
            </span>
            <span>Forget
              <a routerLink="/forgot">Password？</a>
            </span>
          </span>
        </div>
      </mat-tab>
      <mat-tab label="Personal Info">
        <app-identity-input formControlName="identity" class="full-width control-padding">
        </app-identity-input>
        <div class="full-width control-padding">
          <app-age-input formControlName="dateOfBirth"></app-age-input>
        </div>
        <div class="full-width control-padding">
          <app-area-list formControlName="address"></app-area-list>
        </div>
        <div class="full-width">
          <button mat-raised-button type="button" (click)="prevTab()">Back</button>
          <button mat-raised-button type="submit" [disabled]="!form.valid">Register</button>
          <span class="fill-remaining-space"></span>
          <span>
            <span>Have account？
              <a routerLink="/login">Login</a>
            </span>
            <span>Forget
              <a routerLink="/forgot">Password？</a>
            </span>
          </span>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</form>